# Python cache i pliki tymczasowe
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/

# IDE / edytory
.vscode/
.idea/

# Systemowe
.DS_Store
Thumbs.db

# Logi i pliki tymczasowe
*.log
*.tmp


